@keyframes scaleIn {
  from {
    scale: 0.5;
  }
  to {
    opacity: 1;
  }
}

.scale-in {
  animation: scaleIn 600ms ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 600ms ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 600ms ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(50px);
  }
  to {
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 600ms ease-in-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 600ms ease-in-out;
}
@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 400ms ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotate {
  animation: rotateCircle 10s linear infinite forwards;
}

@keyframes rock {
  0% {
    transform: translateX(0) rotate(-7deg);
  }
  50% {
    transform: translateX(-20px) rotate(-7deg);
  }
  100% {
    transform: translateX(0) rotate(-7deg);
  }
}

.curvy-dotted-line {
  animation: rock 5s infinite linear;
}

.rolling-3 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.rolling-3:before,
.rolling-3:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  animation: l3-0 2s alternate infinite ease-in-out;
}
.rolling-3:before {
  margin: 25%;
  background: repeating-conic-gradient(#39bcf9 0 60deg, #0b486b 0 120deg);
  translate: 0 50%;
  rotate: -150deg;
}
.rolling-3:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(#0b486b 0 30deg, #39bcf9 0 60deg);
  mask: linear-gradient(#0000 50%, #000 0) content-box exclude,
    linear-gradient(#0000 50%, #000 0);
  rotate: -75deg;
  animation-name: l3-1;
}
@keyframes l3-0 {
  to {
    rotate: 150deg;
  }
}
@keyframes l3-1 {
  to {
    rotate: 75deg;
  }
}
